# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/

Online-Shop/node_modules/
Blog-Project/reactFrontendSetup/node_modules/
Blog-Project/RestAPI/node_modules/

Online-Shop/images/
Blog-Project/RestAPI/Images/